# {{ ansible_managed }}

path: {{ wordpress__root }}
url: {{ wordpress__domain }}

core config:
  extra-php: |
    define('DISABLE_WP_CRON', {{ wordpress__config_disable_wp_cron }});
    define('DISALLOW_FILE_EDIT', {{ wordpress__config_disable_file_edit }});
    {{ wordpress__config_extra_php }}
