; {{ ansible_managed }}

; php options

pid = {{ hhvm_pid }}

upload_max_filesize = {{ hhvm_file_upload_max_filesize }}
post_max_size = {{ hhvm_file_post_max_size }}

; hhvm specific

; Fix for https://github.com/facebook/hhvm/issues/4993
hhvm.enable_zend_ini_compat = false

{% if hhvm_server_settings is defined %}
{% for setting in hhvm_server_settings.keys() %}
hhvm.{{ setting }} = {{ hhvm_server_settings[setting] }}
{% endfor  %}
{% endif %}
