---

# --------------------------
#   Fail2ban configuration
# --------------------------

wordpress_fail2ban_action_permanent_ban:
  name: 'wordpress-permanent'
  start: cat /etc/fail2ban/wordpress-banlist.<name> | while read IP; do ip route list | grep -q "unreachable $IP" || ip route add unreachable $IP; done
  stop: touch /etc/fail2ban/wordpress-banlist.<name>
  check: test -e /etc/fail2ban/wordpress-banlist.<name>
  ban: |
    FILE=/etc/fail2ban/wordpress-banlist.<name>
    grep -q "<ip>" "$FILE" || ip route list | grep -q 'unreachable <ip>' || ip route add unreachable <ip>
    grep -q "<ip>" "$FILE" || echo "<ip>" >> "$FILE"

wordpress_fail2ban_filter_ddos:
  name: 'wordpress-ddos'
  failregex: '^<HOST> .* "(GET|POST)'

wordpress_fail2ban_filter_login:
  name: 'wordpress-login'
  failregex: '^<HOST> .* "POST .*?/(wp-login|xmlrpc).php'

wordpress_fail2ban_filter_repeat_bans:
  name: 'wordpress-repeat-bans'
  failregex: 'fail2ban\.actions:\s+WARNING\s+\[(?:.*)\]\s+Ban\s+<HOST>'
  ignoreregex: 'fail2ban\.actions:\s+WARNING\s+\[wordpress-permanent\]\s+Ban\s+<HOST>'

wordpress_fail2ban_jail_badbots:
  name: 'wordpress-badbots'
  enabled: '{{ wordpress_fail2ban_jail_badbots_enabled }}'
  action: '{{ wordpress_fail2ban_jail_badbots_action }}'
  filter: 'apache-badbots'
  port: 'http,https'
  logpath: '/var/log/nginx/varnish*access.log'
  findtime: '{{ wordpress_fail2ban_jail_badbots_findtime }}'
  maxretry: '{{ wordpress_fail2ban_jail_badbots_maxretry }}'
  bantime: '{{ wordpress_fail2ban_jail_badbots_bantime }}'

wordpress_fail2ban_jail_ddos:
  name: 'wordpress-ddos'
  enabled: '{{ wordpress_fail2ban_jail_ddos_enabled }}'
  action: '{{ wordpress_fail2ban_jail_ddos_action }}'
  filter: 'wordpress-ddos'
  port: 'http,https'
  logpath: '/var/log/nginx/varnish*access.log'
  findtime: '{{ wordpress_fail2ban_jail_ddos_findtime }}'
  maxretry: '{{ wordpress_fail2ban_jail_ddos_maxretry }}'
  bantime: '{{ wordpress_fail2ban_jail_ddos_bantime }}'

wordpress_fail2ban_jail_login:
  name: 'wordpress-login'
  enabled: '{{ wordpress_fail2ban_jail_login_enabled }}'
  action: '{{ wordpress_fail2ban_jail_login_action }}'
  filter: 'wordpress-login'
  port: 'http,https'
  logpath: '/var/log/nginx/varnish*access.log'
  findtime: '{{ wordpress_fail2ban_jail_login_findtime }}'
  maxretry: '{{ wordpress_fail2ban_jail_login_maxretry }}'
  bantime: '{{ wordpress_fail2ban_jail_login_bantime }}'

wordpress_fail2ban_jail_permanent:
  name: 'wordpress-permanent'
  enabled: '{{ wordpress_fail2ban_jail_permanent_enabled }}'
  action: '{{ wordpress_fail2ban_jail_permanent_action }}'
  filter: 'wordpress-repeat-bans'
  logpath: '/var/log/fail2ban.log'
  findtime: '{{ wordpress_fail2ban_jail_permanent_findtime }}'
  maxretry: '{{ wordpress_fail2ban_jail_permanent_maxretry }}'
  bantime: '-1'

# --------------------------
#   MariaDB configuration
# --------------------------

wordpress_mariadb_database:
  name: '{{ wordpress_database_name }}'

wordpress_mariadb_user:
  name: '{{ wordpress_database_user }}'
  password: '{{ wordpress_database_password }}'
  host: '{{ wordpress_mariadb_client }}'
  priv: '{{ wordpress_database_name }}.*:ALL'
  state: 'present'


# --------------------------
#   PHP configuration
# --------------------------

wordpress_php_pool:
  enabled: True
  name: '{{ wordpress_php_pool_name }}'
  user: '{{ wordpress_php_pool_user }}'
  group: '{{ wordpress_php_pool_group }}'
  pm_max_children: '{{ wordpress_php_max_children }}'


# --------------------------
#   PKI configuration
# --------------------------

wordpress_pki_default_realm:
  name: '{{ wordpress_pki_default_realm_name }}'
  acme: "{{ wordpress_ssl_provider == 'letsencrypt' }}"
  acme_challenge_dir: '{{ wordpress_pki_acme_challenge_dir }}'
  acme_default_subdomains: '{{ wordpress_pki_default_realm_subdomains }}'
  acme_subdomains: '{{ wordpress_pki_default_realm_subdomains }}'
  default_subdomains: '{{ wordpress_pki_default_realm_subdomains }}'
  subdomains: '{{ wordpress_pki_default_realm_subdomains }}'

wordpress_pki_private_files:
  - src: '{{ wordpress_ssl_key }}'
    dest: '/etc/pki/realms/{{ wordpress_pki_realm }}/private/key.pem'

wordpress_pki_public_files:
  - src: '{{ wordpress_ssl_crt }}'
    dest: '/etc/pki/realms/{{ wordpress_pki_realm }}/external/cert.pem'


# --------------------------
#   nginx server configuration
# --------------------------

wordpress_server_backend:
  by_role: 'carlalexander.wordpress'
  enabled: True
  default: False
  type: 'php'
  listen: [ '{{ wordpress_varnish_backend_port }}' ]
  ssl: False
  acme: False
  filename: '{{ wordpress_domain }}'
  name: '{{ wordpress_nginx_server_name }}'
  root: '{{ wordpress_root }}'

  options: |
    client_max_body_size  {{ wordpress_php_post_max_size }};
    gzip_comp_level 5;
    gzip_min_length 256;
    gzip_proxied any;
    gzip_vary on;
    gzip_types application/atom+xml
      application/javascript
      application/json
      application/ld+json
      application/manifest+json
      application/rdf+xml
      application/rss+xml
      application/schema+json
      application/vnd.geo+json
      application/vnd.ms-fontobject
      application/x-font-ttf
      application/x-javascript
      application/x-web-app-manifest+json
      application/xhtml+xml
      application/xml
      font/eot
      font/opentype
      image/bmp
      image/svg+xml
      image/vnd.microsoft.icon
      image/x-icon
      text/cache-manifest
      text/css
      text/javascript
      text/plain
      text/vcard
      text/vnd.rim.location.xloc
      text/vtt
      text/x-component
      text/x-cross-domain-policy
      text/xml;

    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    {% if wordpress_multisite and not wordpress_multisite_subdomains %}

    if (!-e $request_filename) {
      rewrite ^(/[^/]+)?(/wp-.*) $2 last;
      rewrite ^(/[^/]+)?(/.*\.php) $2 last;
    }
    {% endif %}

  location:
    '/': 'try_files $uri $uri/ /index.php?$args;'

    '~ /(\.|wp-config.php|readme.html|license.txt|wp-cli.local.yml|wp-cli.yml)': 'return 404;'

    '= /robots.txt': |
      access_log off;
      log_not_found off;
      try_files /robots.txt /index.php;

    '~* ^.+\.(css|js|ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$': |
      access_log off;
      expires max;
      add_header Cache-Control "public";

  location_allow:
    '/': '{{ wordpress_nginx_allow }}'

  php_upstream: '{{ wordpress_nginx_upstream_php_name }}'

  php_options: |
    {% if wordpress_allow is defined and wordpress_allow %}
      {% for address in wordpress_allow %}
    allow {{ address }};
      {% endfor %}
    deny all;
    {% endif %}
    set $php_https off;

    if ($http_x_forwarded_proto = "https") {
      set $php_https on;
    }

    fastcgi_param HTTPS $php_https;
    fastcgi_next_upstream error timeout invalid_header http_500;

wordpress_server_varnish:
  by_role: 'carlalexander.wordpress'
  type: 'proxy'
  enabled: True
  default: False
  filename: 'varnish.{{ wordpress_domain }}'
  name: '{{ wordpress_nginx_server_name }}'
  root: False
  listen: '{{ wordpress_nginx_listen }}'
  listen_ssl: '{{ wordpress_nginx_listen_ssl }}'
  ssl: '{{ wordpress_ssl }}'
  acme: "{{ wordpress_ssl_provider == 'letsencrypt' }}"
  csp: '{{ wordpress_nginx_csp }}'
  csp_report: '{{ wordpress_nginx_csp_report }}'
  csp_policy: '{{ wordpress_nginx_csp_policy }}'
  ocsp_verify: False
  deny_hidden: False
  favicon: False
  proxy_pass: 'http://{{ wordpress_nginx_upstream_varnish_name }}'

  options: |
    client_max_body_size  {{ wordpress_php_post_max_size }};


# --------------------------
#   nginx upstream configuration
# --------------------------

wordpress_upstream_php:
  enabled: True
  name: '{{ wordpress_nginx_upstream_php_name }}'
  server:
   - 'unix:/var/run/php7.0-fpm-{{ wordpress_php_pool_name }}.sock'

wordpress_upstream_varnish:
  enabled: True
  name: '{{ wordpress_nginx_upstream_varnish_name }}'
  server:
   - '127.0.0.1:{{ wordpress_varnish_listen }}'
   - '127.0.0.1:{{ wordpress_varnish_backend_port }} backup'


# --------------------------
#   Varnish configuration
# --------------------------

wordpress_varnish_backend:
  name: 'wordpress'
  port: '{{ wordpress_varnish_backend_port }}'
  probe: False

wordpress_varnish_purge_conditions_default:
  '!std.ip(req.http.X-Real-IP, "0.0.0.0") ~ purge': 'return (synth(405, "This IP is not allowed to send PURGE requests."));'

wordpress_varnish_vcl_backend_response_conditions_default:
  'beresp.http.Set-Cookie && bereq.url !~ "wp-(login|admin)"': 'unset beresp.http.Set-Cookie;'

wordpress_varnish_vcl_recv_conditions_default:
  'req.http.Cookie ~ "wordpress_" || req.http.Cookie ~ "comment_"': 'return (pass);'
  'req.url ~ "wp-(admin|cron|login)" || req.url ~ "preview=true" || req.url ~ "xmlrpc.php"': 'return (pass);'
