# {{ ansible_managed }}

[mysqld]
bind-address    = {{ mariadb_mysqld_bind_address }}
port      = {{ mariadb_mysqld_port }}
max-connections   = {{ mariadb_mysqld_max_connections }}

character-set-server  = utf8
collation-server  = utf8_general_ci
init-connect    = 'SET NAMES utf8'

{% if mariadb_pki is defined and mariadb_pki %}
# Support for encrypted connections
ssl
ssl-ca      = {{ mariadb_pki_path + "/" + mariadb_pki_realm + "/" + mariadb_pki_ca }}
ssl-cert    = {{ mariadb_pki_path + "/" + mariadb_pki_realm + "/" + mariadb_pki_crt }}
ssl-key     = {{ mariadb_pki_path + "/" + mariadb_pki_realm + "/" + mariadb_pki_key }}
ssl-cipher    = {{ mariadb_pki_cipher | default('DHE-RSA-AES256-SHA') }}

{% endif %}
{% if mariadb_mysqld_options is defined and mariadb_mysqld_options is not none %}
{% for key, value in mariadb_mysqld_options.iteritems() %}
{{ key }}{% if value is not none %} = {{ value }}{% endif %}

{% endfor %}

{% endif %}
